body {
  background: #333;
  color: white;
}

a {
  color: magenta;
  text-decoration: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

iframe {
  border-radius: 8px;
}